@(tasks: List[Task], taskForm: Form[Task])

@import helper._

@main("Todo list") {
    
    <h1> Lista de Tarefas</h1>
    
    <h2>@tasks.size() tarefa(s)</h2>
    
    <ul>
        @for(task <- tasks) {
            <li>
                Descricao: @task.getLabel()			|
                Projeto: @task.getProject()			|
                Prioridade: @task.getPriority()		|
                
                @form(routes.Application.deleteTask(task.getId())) {
                    <input type="submit" value="Delete">
                }
                 
            </li>
        }
    </ul>
    
    <h2>Adicione uma nova tarefa</h2>
    
    @form(routes.Application.newTask()) {
        
        @inputText(taskForm("label"), '_label -> "Tarefa:") 
        
        @inputText(taskForm("project"), '_label -> "Projeto:") 
                
        @inputText(taskForm("priority"), '_label -> "Prioridade (numerica): ") 
        
        <input type="submit" value="Adicionar">
    }
    
}