@(tasks: List[Task], taskForm: Form[Task])

@import helper._

@main("Todo list") {
    
    <h1> Lista de Tarefas</h1>

    
    <h2> - Tarefa(s) a fazer:</h2>
    
    <ul>
        @for(task <- tasks) {
        	@if(!task.isDone()){
            <li>
                <b>Descricao:</b> @task.getLabel()
                <br>			
                <b>Projeto:</b> @task.getProject()			
                <br>
                <b>Prioridade:</b> @task.getPriority()		
                <br>
                @form(routes.Application.deleteTask(task.getId())) {
                    <input type="submit" value="Excluir">
                }
                
                @form(routes.Application.update(task.getId())) {          
                    <input type="submit" value="Feita">
                }
                <br>
                
            </li>
        }}
    </ul>
    
    <h2> - Tarefa(s) feita(s):</h2>
    <ul>	
    	@for(task <- tasks) {
    		@if(task.isDone()){
            <li>
                <b>Descricao:</b> @task.getLabel()
                <br>			
                <b>Projeto:</b> @task.getProject()			
                <br>
                <b>Prioridade:</b> @task.getPriority()		
                <br>
                @form(routes.Application.deleteTask(task.getId())) {
                    <input type="submit" value="Excluir">
                }

                <br>
                
            </li>
       }
       }
     </ul>

    <h2>Adicione uma nova tarefa</h2>
    
    @form(routes.Application.newTask()) {
        
        @inputText(taskForm("label"), '_label -> "Tarefa:") 
        
        @inputText(taskForm("project"), '_label -> "Projeto:") 
                
        @inputText(taskForm("priority"), '_label -> "Prioridade (numerica): ") 
        
        <input type="submit" value="Adicionar">
    }
    
}